<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshabao.bill.bd.mapper.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaoshabao.bill.bd.entity.Bill">
    	<id column="bill_id" property="billId" />
    	<result column="version" property="version" />
    	<result column="order_no" property="orderNo" />
    	<result column="lock_version" property="lockVersion" />
    	<result column="update_time" property="updateTime" />
        <result column="bill_name" property="billName" />
        <result column="bill_type" property="billType" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        version,
        order_no,
        lock_version,
        update_time,
        bill_id, bill_name, bill_type, status
    </sql>
    
    <select id="getBillById" resultMap="BaseResultMap" parameterType="long">
  		select * from ui_bill where bill_id=#{billId}
	</select>

</mapper>
