<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshabao.bill.bd.mapper.ListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaoshabao.bill.bd.entity.List">
        <id column="list_id" property="listId" />
        <result column="list_name" property="listName" />
        <result column="bill_id" property="billId" />
        <result column="table_id" property="tableId" />
        <result column="search_id" property="searchId" />
        <result column="report_id" property="reportId" />
        <result column="query" property="query" />
        <result column="data_where" property="dataWhere" />
        <result column="version" property="version" />
        <result column="order_no" property="orderNo" />
        <result column="lock_version" property="lockVersion" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        list_id, list_name, bill_id, table_id, search_id, report_id, query, data_where, version, order_no, lock_version, update_time
    </sql>

</mapper>
